<div id="container">

    <div id="main">
        <div class="content">
            <label for="" class="button">
               FIS TEST 
                <span> <i class="fas fa-bars"></i>
                </span>
               </label>
            <div class="menucon">
                <ul class="menu">
                    <li class="hovewe"><a href="">Chấp nhận bưu gửi trong nước</a>

                    </li>
                    <li class="hovewe"><label for="btn-2" class="first">Chấp nhận bưu gửi quốc tế
                <span> <i class="fa fa-caret-down" aria-hidden="true"></i>
              </span>
            </label>
                        <input type="checkbox" id="btn-2">
                        <ul>
                            <li class="dm"><a href="">Lô lẻ</a></li>
                        </ul>
                    </li>
                    <li class="hovewe">
                        <label for="btn-3" class="second">Châp nhận bưu gửi thường
                <span> <i class="fas fa-caret-down" aria-hidden="true"></i>
                    </span>
                </label>
                        <input type="checkbox" id="btn-3">
                        <ul>
                            <li class="dm hovewe"> <a href="">Lô lẻ</a></li>
                            <li class="dm hovewe"> <a href="">Lô chẵn</a></li>
                        </ul>
                    </li>
                    <li class="hovewe"><a href="">Sự kiện</a></li>
                    <li class="hovewe"><a href="">Báo cáo</a></li>
                </ul>
            </div>
        </div>
        <div class="sidebar">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>